<div class="outer-box">
  <img src="../../../../assets/images/openness.svg" />
  <div class="description">
    <div class="d-title">Openness</div>
    <div class="d-body">
      This trait features characteristics such as imagination and insight.
      People who are high in this trait also tend to have a broad range of
      interests. They are curious about the world and other people and eager to
      learn new things and enjoy new experiences.
      <br />
      <br />
      People who are high in this trait tend to be more adventurous and
      creative. People low in this trait are often much more traditional and may
      struggle with abstract thinking.
    </div>
  </div>
</div>
<app-body></app-body>
