<div class="outer-box">
  <img src="../../../../assets/images/neuroticism.svg" />
  <div class="description">
    <div class="d-title">Neuroticism</div>
    <div class="d-body">
      Neuroticism is a trait characterized by sadness, moodiness, and emotional
      instability. Individuals who are high in this trait tend to experience
      mood swings, anxiety, irritability, and sadness. Those low in this trait
      tend to be more stable and emotionally resilient.
    </div>
  </div>
</div>
<app-body></app-body>
