<div class="outer-box">
  <img src="../../../../assets/images/agreeableness.svg" />
  <div class="description">
    <div class="d-title">Agreeableness</div>
    <div class="d-body">
      This personality dimension includes attributes such as trust, altruism,
      kindness, affection, and other prosocial behaviors. People who are high in
      agreeableness tend to be more cooperative while those low in this trait
      tend to be more competitive and sometimes even manipulative.
    </div>
  </div>
</div>
<app-body></app-body>
