<div class="outer-box">
  <img src="../../../../assets/images/extraversion.svg" />
  <div class="description">
    <div class="d-title">Extraversion</div>
    <div class="d-body">
      Extraversion (or extroversion) is characterized by excitability,
      sociability, talkativeness, assertiveness, and high amounts of emotional
      expressiveness. People who are high in extraversion are outgoing and tend
      to gain energy in social situations. Being around other people helps them
      feel energized and excited. 
      <br>
      <br>
      People who are low in extraversion (or
      introverted) tend to be more reserved and have less energy to expend in
      social settings. Social events can feel draining and introverts often
      require a period of solitude and quiet in order to "recharge."
    </div>
  </div>
</div>
<app-body></app-body>
