<div class="body-container">
  <div class="wrap">
    <div></div>
    <div class="item-header">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
    </div>
  </div>
  <div class="wrap">
    <div>- I get stressed out easily.</div>
    <app-selector (select)="setQ(1, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I am relaxed most of the time.</div>
    <app-selector (select)="setQ(2, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I worry about things.</div>
    <app-selector (select)="setQ(3, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I seldom feel blue.</div>
    <app-selector (select)="setQ(4, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I am easily disturbed.</div>
    <app-selector (select)="setQ(5, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I get upset easily.</div>
    <app-selector (select)="setQ(6, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I change my mood a lot.</div>
    <app-selector (select)="setQ(7, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I have frequent mood swings.</div>
    <app-selector (select)="setQ(8, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I get irritated easily.</div>
    <app-selector (select)="setQ(9, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I often feel blue.</div>
    <app-selector (select)="setQ(10, $event)"></app-selector>
  </div>
</div>
