<div class="outer-box">
  <img src="../../../../assets/images/conscientiousness.svg" />
  <div class="description">
    <div class="d-title">Conscientiousness</div>
    <div class="d-body">
      Standard features of this dimension include high levels of thoughtfulness,
      good impulse control, and goal-directed behaviors.1﻿ Highly conscientious
      people tend to be organized and mindful of details. They plan ahead, think
      about how their behavior affects others, and are mindful of deadlines.
    </div>
  </div>
</div>
<app-body></app-body>
