<div class="body-container">
  <div class="g-element">
    <div *ngFor="let question of data; let i = index" class="q-container">
      <div *ngIf="qCounter === i" class="q-inner">
        <div class="q-text">{{i+1}}.&nbsp; {{question}}</div>
        <app-selector (select)="setQ(i, $event)"></app-selector>
        <div class="navigation">
          <div (click)="goBack()" class="q-button">Back</div>
          <div (click)="goNext()" class="q-button">Next</div>
        </div>
      </div>
    </div>
  </div>
</div>