<div class="panel">
  <div class="o-wrap">
    <div class="circle"></div>
    <p class="option">Agreeableness</p>
    <img *ngIf="agr === 'complete'" src="../../../assets/images/check.svg">
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <p [ngClass]="csn === 'complete' ? 'active': ''" class="option">Conscientiousness</p>
    <img *ngIf="csn === 'complete'" src="../../../assets/images/check.svg">
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <p [ngClass]="ext === 'complete'? 'active': ''" class="option">Extraversion</p>
    <img *ngIf="ext === 'complete'" src="../../../assets/images/check.svg">
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <p [ngClass]="est === 'complete' ? 'active': ''" class="option">Neuroticism</p>
    <img *ngIf="est === 'complete'" src="../../../assets/images/check.svg">
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <p [ngClass]="opn === 'complete'? 'active': ''" class="option">Openness</p>
    <img *ngIf="opn === 'complete'" src="../../../assets/images/check.svg">
  </div>
</div>