<div class="panel">
  <div class="o-wrap">
    <div class="circle"></div>
    <a href="/agreeableness" class="option">Agreeableness</a>
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <a href="/conscientiousness" class="option">Conscientiousness</a>
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <a href="/extraversion" class="option">Extraversion</a>
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <a href="/neuroticism" class="option">Neuroticism</a>
  </div>
  <div class="o-wrap">
    <div class="circle"></div>
    <a href="/openness" class="option">Openness</a>
  </div>
  <div class="c-button" (click)="send()">Finish</div>
</div>
