<div class="body-container">
  <div class="wrap">
    <div></div>
    <div class="item-header">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
    </div>
  </div>
  <div class="wrap">
    <div>- I am always prepared.</div>
    <app-selector (select)="setQ(1, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I leave my belongings around.</div>
    <app-selector (select)="setQ(2, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I pay attention to details.</div>
    <app-selector (select)="setQ(3, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I make a mess of things.</div>
    <app-selector (select)="setQ(4, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I get chores done right away.</div>
    <app-selector (select)="setQ(5, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I often forget to put things back in their proper place.</div>
    <app-selector (select)="setQ(6, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I like order.</div>
    <app-selector (select)="setQ(7, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I shirk my duties.</div>
    <app-selector (select)="setQ(8, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I follow a schedule.</div>
    <app-selector (select)="setQ(9, $event)"></app-selector>
  </div>
  <div class="wrap">
    <div>- I am exacting in my work.</div>
    <app-selector (select)="setQ(10, $event)"></app-selector>
  </div>
</div>
