<div class="selector-box">
  <div (click)="selectItem(1)" class="radio-b">
    <div *ngIf="item === 1" class="inner-dot"></div>
  </div>
  <div (click)="selectItem(2)" class="radio-b">
    <div *ngIf="item === 2" class="inner-dot"></div>
  </div>
  <div (click)="selectItem(3)" class="radio-b">
    <div *ngIf="item === 3" class="inner-dot"></div>
  </div>
  <div (click)="selectItem(4)" class="radio-b">
    <div *ngIf="item == 4" class="inner-dot"></div>
  </div>
  <div (click)="selectItem(5)" class="radio-b">
    <div *ngIf="item == 5" class="inner-dot"></div>
  </div>
</div>
