<div class="selector-container">
  <div class="i-container">
    <img src="../../../assets/images/sad.svg" alt="">
    <img src="../../../assets/images/neutral.svg" alt="">
    <img src="../../../assets/images/happy.svg" alt="">
  </div>

  <div class="selector-box">
    <p>Totally Disagree</p>
    <div (click)="selectItem(1)" class="radio-b">
      <div *ngIf="item === 1" class="inner-dot"></div>
    </div>
    <div (click)="selectItem(2)" class="radio-b">
      <div *ngIf="item === 2" class="inner-dot"></div>
    </div>
    <div (click)="selectItem(3)" class="radio-b">
      <div *ngIf="item === 3" class="inner-dot"></div>
    </div>
    <div (click)="selectItem(4)" class="radio-b">
      <div *ngIf="item == 4" class="inner-dot"></div>
    </div>
    <div (click)="selectItem(5)" class="radio-b">
      <div *ngIf="item == 5" class="inner-dot"></div>
    </div>
    <p>Totally Agree</p>
  </div>

</div>